venv*/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

.vscode/
deepmind_finetuning.ipynb
GEMINI.md
kauldron/
TITANS_PROJECT_CONTEXT.md
GemmaTitans_Distillation_Migration_Plan.md
context_spec.txt
gemma_titans_train_backup.py
metadata.json
saved_titans_delta/
titans_workdir_squad/
test_*.py
Kauldron_Titans_TPU_v5e_fixed_crach.ipynb
TITANS_ARCHITECTURE.md
training.png
.claude/settings.local.json
Titan_params.txt
/data
colabs/logs
colabs/dialog
colabs/gemma
colabs/kauldron
colabs/train_gemma_generated.array_record
colabs/gemma3_1b_it_params.pkl.orbax-checkpoint-tmp


./Titans_jax_Phase2_LM.ipynb
